<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template::layout(~{::title}, ~{::script}, ~{::link}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>Add new employee</title>
	<link rel="stylesheet" />
	<script type="text/javascript"></script>
</head>

<body>
	<div class="container" id="empAdd" th:fragment="body" th:remove="tag">
		<div class="row mb-3 text-center">
			<h2>Create new employee</h2>
		</div>
		<div class="row mb-3 p-2">
			<form th:action="@{/employees/emp-add}" th:object="${employee}" th:method="post">
				<div class="row mb-3">
					<label for="firstName" class="col-sm-2">First Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter your first name" th:field="*{firstName}" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="lastName" class="col-sm-2">Last Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter your last name"th:field="*{lastName}" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="email" class="col-sm-2">Email</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter your email" th:field="*{email}" />
					</div>
				</div>
				<div class="row mb-3 justify-content-center">
					<a th:href="@{/employees/}" class="btn btn-secondary col-sm-2 me-2">Cancel</a>
					<button type="submit" class="btn btn-primary col-sm-2">Create</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>