<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/manager/template}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="title">
        <title>This is manager page</title>
    </th:block>
    <th:block layout:fragment="links">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    </th:block>
<body>
    <div class="container" layout:fragment="content">
        <h2>This Is Manager Page</h2>
        <a th:href="@{/}">Back Home</a>
        <a th:href="@{/ins}">Instructor</a>
    </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/index.js}"></script>
    </th:block>
</body>
</html>